.ui.segment {
  margin-top: 20px;
  padding: 20px;
  background-color: #d187e1;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2 10px rgba(26, 25, 25, 0.1);
}

.ui.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.inline.fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid black;
}

input {
  padding: 10px;
  margin-right: 10px;
  flex-grow: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button.ui.button {
  background-color: #6a1b9a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.ui.button:hover {
  background-color: #b892d9;
}
 h2 {
  text-align: center;
 }

body {
background-color: #b892d9;
}